{% extends 'base.html' %}

{% block content %}

    <!-- ======= Retorno Mensagem Contato ======= -->
    {% if status %}
        {% if status['type'] == 'sucesso' %}
        <div id="flash-message" class="alert alert-success status-email" role="alert">
            <h5>{{status['message']}}</h5>
        </div>
        {% else %}
        <div id="flash-message" class="alert alert-danger status-email" role="alert">
            <h5>{{status['message']}}</h5>
        </div>
        {% endif %}
    {% endif %}

<main class="main">
<div class="paginas">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
    <div class="heading">
        <div class="container">
        <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
            <h1>Contato</h1>
            <p class="mb-0">A Escola Municipal São Sebastião destaca-se por sua dedicação à formação integral de nossas crianças. Além de oferecer um ensino de qualidade, a escola prioriza a transmissão de valores éticos e morais essenciais para o desenvolvimento de um caráter sólido e resiliente.</p>
            </div>
        </div>
        </div>
    </div>
    <nav class="breadcrumbs">
        <div class="container">
        <ol>
            <li><a href="{{ url_for('index') }}">Página Inicial</a></li>
            <li class="current">Contato</li>
        </ol>
        </div>
    </nav>
    </div><!-- End Page Title -->

    <br><br>
    <!-- Contact Section -->
    <section id="contact" class="contact section">
    <div class="mb-5 container" data-aos="fade-up" data-aos-delay="200">
        <iframe style="border:0; width: 100%; height: 300px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14751.857260995084!2d-45.4419004!3d-22.4303689!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cb634ec70ac62f%3A0x712a13ef772780b0!2zRS5NLiBTw6NvIFNlYmFzdGnDo28!5e0!3m2!1spt-BR!2sbr!4v1712325283879!5m2!1spt-BR!2sbr" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div><!-- End Google Maps -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

        <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
                <h3>Endereço</h3>
                <p>Rua Salvador Cirilo Sales, 321</p>
            </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
                <h3>Telefone</h3>
                <p>(35) 3621-2219</p>
            </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
                <h3>Email Us</h3>
                <p>info@saosebastiao.com.br</p>
            </div>
            </div><!-- End Info Item -->

        </div>

        <div class="col-lg-8">
            <form action="" method="post" class="email-form" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">

                <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Seu Nome" required="">
                </div>

                <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Seu E-mail" required="">
                </div>

                <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Sua Mensagem" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                    <button type="submit">Enviar Mensagem</button>
                </div>

            </div>
            </form>
        </div><!-- End Contact Form -->

        </div>

    </div>

    </section><!-- /Contact Section -->

</div>
</main>

{% endblock %}