{% extends "base.html" %}

{% block content %}
<main class="main">
    <!-- Hero Section -->
    <section id="hero" class="hero section">

    <img src="{{ url_for('static', filename='img/img-background.jpg') }}" alt="" data-aos="fade-in">

    <div class="container">
        <div data-aos="fade-up" data-aos-delay="200" class="form-login">
            <h1>Faça seu login</h1>
            <form action="{{ url_for('login') }}" method="post">
                <div class="mb-3">
                    <input type="email" class="form-control" name="email" required placeholder="E-mail">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="senha" required placeholder="Senha">
                </div>
                <div class="submit-login mb-3">
                    <input type="submit" value="Entrar" class="btn-getstarted">
                </div>
            </form>
            <hr>
            <p>Faça seu login ou <a href="{{ url_for('register') }}">CLIQUE AQUI</a> para realizar seu cadastro.</p>
        </div>
    </div>

    </section><!-- /Hero Section -->
</main>
{% endblock %}
