{% extends "base.html" %}

{% block content %}
<main class="main">
<div class="paginas">
    
    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
        <div class="heading">
            <div class="container">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8">
                <h1>Professores</h1>
                <p class="mb-0">A Escola Municipal São Sebastião destaca-se por sua dedicação à formação integral de nossas crianças. Além de oferecer um ensino de qualidade, a escola prioriza a transmissão de valores éticos e morais essenciais para o desenvolvimento de um caráter sólido e resiliente.</p>
                </div>
            </div>
            </div>
        </div>
        <nav class="breadcrumbs">
            <div class="container">
            <ol>
                <li><a href="{{ url_for('index') }}">Página Inicial</a></li>
                <li class="current">Professores</li>
            </ol>
            </div>
        </nav>
    </div><!-- End Page Title -->
    <br><br>

    <div class="container" data-aos="fade-up" data-aos-delay="200">
        <table id="table" class="table table-hover">
        <thead>
            <tr>
            <th onclick="sortTable(0)" scope="col">ID</th>
            <th onclick="sortTable(1)" scope="col">Nome</th>
            <th onclick="sortTable(2)" scope="col">Turma</th>
            <th scope="col">Opção</th>
            </tr>
        </thead>
        <tbody>
            {% for professor in professores %}
            <tr>
            <td>{{ professor.id_professor }}</td>
            <td>{{ professor.nome_professor }}</td>
            <td>{{ professor.turma }}</td>
            <td>
                <a class="btn-editar" href="{{ url_for('editar_professor', id_professor=professor.id_professor) }}">Editar</a>
                <a class="btn-excluir" href="{{url_for('deletar_produto', id_professor=professor.id_professor)}}" onclick="return confirm('Deseja realmente deletar esse professor?')">Excuir</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <div id="pagination-container">
            <ul class="pagination"></ul>
        </div>
    </div>
    
</div>    
</main>
<br><br>
{% endblock %}